<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mt-4">To Do List</h1>
      <div class="row" id="tasks"></div>
      <div class="row">
        <form id="create-task" class="p-0">
        <input type="text" id="new-task-content" class="border rounded p-1 me-2 col-4"></input><button class="btn">Add Task</button>
        </form>
      <div>
    </div>
  </div>
</div>